	<div class="hero-unit">
  <h1>About &Delta;&Kappa;&Epsilon;Network.</h1>
  <p>&Delta;&Kappa;&Epsilon;Network is the official networking site for the brothers of Delta Kappa Epsilon International Fraternity.
  <br>As a brotherhood, one of our greatest assets is ourselves. With over 40,000 living alumni and active brothers, it doesn't matter where your interests lie; chances are, there's a brother who has already been through it and is willing to lend his wisdom and guidance. The purpose of &Delta;&Kappa;&Epsilon;Network is to connect Dekes with Dekes around the globe so as to strengthen our bonds and help eachother reach our full potential. 
  <br>In the bonds - Welcome to &Delta;&Kappa;&Epsilon;Network.</p>
  <p>
      <%= link_to 'Create an Account', new_user_registration_path, class: "btn btn-primary btn-large" %>
  </p>
</div>