<div class="hero-unit">
  <h1>Contact &Delta;&Kappa;&Epsilon;Network.</h1>
  <p>For questions or more information regarding &Delta;&Kappa;&Epsilon;Network, please contact:</p>
	<p>drake@dke.org
	<br>(734) 302-4210</p>
</div>