$baseFontFamily: Calibri;
$navbarBackground: #0B104F;
$navbarBackgroundHighlight: #0B104F;
$btnPrimaryBackground: #0B104F;
$bodyBackground: white;
$navbarBrandColor: #CFB53B;
$navbarLinkColor: white;
$navbarLinkColorHover: #CFB53B;
$linkColor: gray;
$heroUnitBackground: #CFB53B;
$baseLineHeight: 15px; 

@import 'bootstrap';
body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.footer {
	margin-top: 100%;
	a{
		color: $gray;
	}
}

/* Required for jQuery Masonry */

.box {
    margin: 5px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;
    width: 214px;
    background-color: #CFB53B;
}

.box img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.description {
    margin: 10px 0 5px;
}

