$baseFontFamily: Calibri;
$navbarBackground: #0B104F;
$navbarBackgroundHighlight: #0B104F;
$btnPrimaryBackground: #0B104F;
$bodyBackground: #DEDEDE;
$navbarBrandColor: #CFB53B;
$navbarLinkColor: white;
$linkColor: gray;
$heroUnitBackground: #CFB53B;

@import 'bootstrap';
body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.footer {
	margin-top: 100%;
	a{
		color: $gray;
	}
}