<div class="footer">
	<small>
	For more information on Delta Kappa Epsilon, click <%= link_to "here", "http://dke.org" %>.
	</small>
	<br>
	<small>
		<%= link_to 'Home',  root_path %> | <%= link_to 'About',  about_path %> | <%= link_to "Contact", contact_path %>
	</small>
</div>